table { table-layout: fixed; }
table td { word-wrap: break-word; }

tr {
width: 100%;
display: inline-table;
table-layout: fixed;
}

body{
height: 100% !important;
}

table{
 height:100%;              // <-- Select the height of the table
 display: -moz-groupbox;    // Firefox Bad Effect
}
tbody{
    position: fixed;
    overflow-y: scroll;
    height: inherit;
}

